nav{
    justify-content: space-between;
    font-size: large;
}
#contenedorLista{
    background-color:darkgray;
    border: 1px solid;
    font-weight: bolder;
    display: none;
    margin-bottom: 2%;
}

#contenedor1{
     margin: auto;
     margin-bottom: 2%;

}

#nav-principal a{
    text-decoration: none;
    color:azure;
}

#nav2 a{
    font-size: small;
}


body{
    background-image:url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.container{
    background-color:aliceblue;
    margin-top:30px;
    width: 70vw;
    height:auto;
    border-radius:10px;
}

form{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.texto1{
    border: 1px solid;
}